.navbar-new{
	background-color: #0915a9 !important;
	min-height: 101px !important;
	margin-bottom: 0px!important;
}

.navbar-new li{
	background-color: #0915a9 !important;
	min-height: 101px !important;
}

.navbar-new li a{
	color: #ffffff !important;
}

.navbar-new .navbar-nav{
	min-height: 100px;
}